name: Release

on:
  push:
    branches: [ "main", "release/*" ]
jobs:
  build:
    timeout-minutes: 10
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    services:
      postgres:
        image: postgres:18
        env:
          POSTGRES_USER: jos
          POSTGRES_PASSWORD: any
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - uses: dotnet/nbgv@master
      id: nbgv
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          8.0.x
          9.0.x
          10.0.x
    - name: Build Version ${{ steps.nbgv.outputs.nugetpackageversion }}
      run: dotnet build -c Release
    - name: Test Version ${{ steps.nbgv.outputs.nugetpackageversion }} - .NET 8
      run: dotnet test -c Release --no-build --no-restore --framework net8.0
    - name: Test Version ${{ steps.nbgv.outputs.nugetpackageversion }} - .NET 9
      run: dotnet test -c Release --no-build --no-restore --framework net9.0
    - name: Test Version ${{ steps.nbgv.outputs.nugetpackageversion }} - .NET 10
      run: dotnet test -c Release --no-build --no-restore --framework net10.0
    - name: Pack JOS.Enumeration.sln ${{ steps.nbgv.outputs.nugetpackageversion }}
      run: dotnet pack JOS.Enumeration.sln -c Release -o ./nuget-packages --no-build
    - name: Nuget - Login
      uses: NuGet/login@v1
      id: login
      with:
        user: ${{ secrets.NUGET_USER }}
    - name: Push version ${{ steps.nbgv.outputs.nugetpackageversion }} packages
      run: dotnet nuget push ./nuget-packages/** --skip-duplicate --source nuget.org --api-key ${{steps.login.outputs.NUGET_API_KEY}}

